.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -159px;
}

.smallPokeBall {
  position: absolute;
  top: 1%;
  right: 64%;
}

.cloud {
  position: absolute;
  left: 7.31%;
  bottom: 36.22%;
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: -3%;
}

.pokeBall {
  position: absolute;
  top: -7.62%;
  right: -3%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: 4.11%;
}
