.Heading {
  color: black;
  font-weight: 400;
}

.title1 {
  font-size: 72px;
}
.title2 {
  font-size: 64px;
}
.title3 {
  font-size: 36px;
}
.title4 {
  font-size: 24px;
}
.title5 {
  font-size: 18px;
}
.title6 {
  font-size: 12px;
}
.body1 {
  font-size: 16px;
}
